.sectionHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > h3 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-xs);
    text-transform: capitalize;
  }

  & > span {
    width: 30%;
  }
}
