.nav {
  width: 100%;
  max-width: 1440px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 3vh calc(0.3125rem + 1vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: var(--neutralColor);
  box-shadow: 0 2px 5px var(--shadowColor);

  @media screen and (min-width: 600px) {
    padding: 3vh 3vw;
  }
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.icons {
  display: flex;
  gap: 1vw;
}

.logoBox {
  display: grid;
  place-items: center;
  width: calc(3rem + 5vw);
}
