:root {
  /* fonts family */
  --ff-roboto: "Roboto", "sans-serif";
  --ff-poppins: "Poppins", "sans-serif";

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /*font sizes */
  --fs-xs: 12px;
  --fs-sm: 16px;
  --fs-md: 18px;
  --fs-lg: 20px;
  --fs-xl: 22px;
  --fs-2xl: 24px;
  --fs-3xl: 28px;
  --fs-4xl: 52px;

  /* colors */
  --brandColor: #57731c;
  --brandColorDark: #1d2609;

  --primaryColor: #111706;
  --secondaryColor: #111801;
  --tertiaryColor: #b3b3b3;

  --textColorPrimary: #1a1a1a;
  --textColorSecondary: #666666;
  --textColorTertiary: #b3b3b3;

  line-height: 1.5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
