:root {
  /* fonts family */
  --ff-roboto: "Roboto", "sans-serif";
  --ff-poppins: "Poppins", "sans-serif";

  /* font weight */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /*font sizes */
  --fs-2xs: 0.75rem;
  --fs-xs: 0.875rem;
  --fs-sm: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.375rem;
  --fs-2xl: 1.5rem;
  --fs-3xl: 1.75rem;
  --fs-4xl: 3.25rem;

  /* colors */
  --brandColor: #57731c;
  --brandColorDark: #1d2609;

  --primaryColor: #111706;
  --secondaryColor: #111801;
  --tertiaryColor: #b3b3b3;

  --textColorPrimary: #1a1a1a;
  --textColorSecondary: #666666;
  --textColorTertiary: #b3b3b3;

  --neutralColor: #ffffff;
  --neutralColor2: #8c8c8c;
  --shadowColor: rgba(26, 26, 26, 0.7);

  /* Z-index */
  --z-index-xs: 1000;
  --z-index-sm: 2000;
  --z-index-md: 3000;
  --z-index-lg: 4000;

  line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li {
  list-style: none;
  text-transform: capitalize;
  font-size: calc(0.9375rem + 0.390625vw);
  font-weight: var(--fw-medium);
  font-family: var(--ff-roboto);
  color: var(--primaryColor);
}

li:active {
  background-color: var(--brandColorDark);
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  color: var(--brandColor);
}

span {
  font-size: inherit;
}
